@tailwind base;
@tailwind components;
@tailwind utilities;

.ellipses-first {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.ellipses-second {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

* {
	font-family: Manjari;
	-webkit-tap-highlight-color: transparent;
}

#grad-line {
	background: -webkit-linear-gradient(left, #ffaa00, #f73800);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

@layer base {
	body {
		@apply bg-gray-100;
	}

	#blog {
		@apply leading-relaxed text-base md:pt-4 pt-4 md:pb-24 pb-16 lg:px-80 md:px-20 sm:px-12 px-8 min-h-max;

		& .container {
			@apply max-w-2xl mx-auto p-4;
		}

		& h1 {
			@apply text-4xl font-bold mb-4;
		}

		& h2 {
			@apply text-3xl font-bold mb-4;
		}

		& h3 {
			@apply text-2xl font-bold mb-4;
		}

		& p {
			@apply pb-8 lg:text-[1.3rem] text-base;
		}

		& #avatar {
			@apply h-12 w-12 mx-0 rounded-full;
		}

		& img {
			@apply md:max-w-[80%] max-w-full mx-auto h-auto block my-4 rounded-2xl shadow-md;
		}

		& blockquote {
			@apply border-l-4 border-gray-300 pl-4 italic my-4;
		}

		& a {
			@apply text-blue-700 no-underline hover:underline;
		}

		& ul,
		ol {
			@apply mb-4;
		}

		& code {
			@apply font-mono bg-gray-100 px-2 py-1 rounded;
		}

		& pre {
			@apply bg-gray-100 p-4 rounded my-4;
		}

		& table {
			@apply w-full border-collapse mb-4;
		}

		& th,
		td {
			@apply border p-2 text-left;
		}
	}
}
